Library/
Logs/
obj/
.vs/
.vsconfig
2dPlatformer.sln
18_1_Platformer2D.zip
18_2_Platformer2D.zip
18_Platformer2D.zip
19_Platformer.zip
Assembly-CSharp.csproj
Assembly-CSharp-Editor-firstpass.csproj
Assembly-CSharp-firstpass.csproj
Hobbit_Adventure_Project.zip